@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui";
:root {
  --font-display: 'Quicksand', 'sans-serif';
  --font-body: 'Noto Serif', 'sans-serif';
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
